
@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc;

@model X.PagedList.IPagedList<Artist.Models.Tasks>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Admin2.cshtml";

}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Tasks</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li class="active">Solved</li>
                </ol>
            </div>
        </div>
    </div>
</div>


<div class="content mt-3">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md col-sm col-xs">

                <div class="row align-items-center justify-content-center">


                    <section class="card con" style="width:220px">
                        <div class="card-header user-header alt bg-dark">
                            <div class="media">

                                <div class="media-body">
                                    <h2 class="text-light display-6"> @Html.DisplayFor(model => item.Title)</h2>
                                </div>
                            </div>
                        </div>


                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="row align-items-center justify-content-center">
                                    <strong>Employee Name:</strong>
                                </div>
                                <div class="row align-items-center justify-content-center">
                                    @item.User.fullname

                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row align-items-center justify-content-center">
                                    <strong>Start Date:</strong>
                                </div>
                                <div class="row align-items-center justify-content-center">
                                    @item.StartDate.ToShortDateString()

                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row align-items-center justify-content-center">
                                    <strong>End Date:</strong>
                                </div>
                                <div class="row align-items-center justify-content-center">
                                    @item.EndDate.ToShortDateString()

                                </div>
                            </li>


                            <li class="list-group-item">
                                <div class="row align-items-center justify-content-center">
                                    <strong>Description:</strong>
                                </div>
                                <div class="row align-items-center justify-content-center">
                                    @Html.DisplayFor(model => item.Description)

                                </div>
                            </li>
                        </ul>


                    </section>

                </div>
            </div>
        }
    </div>
    
</div>
<div class="row align-items-center justify-content-center mt-2">
    <ul id="pageListul" style="list-style:none;">
        <li id="pageListLI">
            @Html.PagedListPager(Model, page => Url.Action("Solved", new { page }))

        </li>
    </ul>
</div>


