@model Artist.ViewModel.RoleDetailsVM

@{ ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Admin2.cshtml";
    int rowNo1 = 0;
}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>
                    Role:  @Html.DisplayFor(model => model.Name)
                </h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li class="active">Details</li>
                </ol>
            </div>
        </div>
    </div>
</div>


<div class="row mt-5 align-items-center justify-content-center" style="font-size:large">
    
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <div class="sparkline13-list" style=" background: #fff; padding: 20px; ">
            <div class="sparkline13-hd">
                <div class="main-sparkline13-hd">
                    <h1 style="font-size: 20px; color: #303030;">All Data</h1>
                </div>
            </div>
            <div class="sparkline13-graph">
                <div class="datatable-dashv1-list custom-datatable-overright">
                    <div id="toolbar">
                        <select class="form-control dt-tb">
                            <option value="">Export Basic</option>
                            <option value="all">Export All</option>
                            <option value="selected">Export Selected</option>
                        </select>
                    </div>
                    <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                           data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                        <thead>
                            <tr>
                                <th data-field="state" data-checkbox="true"></th>
                                <th data-field="id">ID</th>
                                <th data-field="name1" data-editable="true">First Name</th>
                                <th data-field="name2" data-editable="true">Last Name</th>
                                <th data-field="name3" data-editable="true">Position</th>
                                <th data-field="name4" data-editable="true">Salary</th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                @foreach (var item in Model.Users)
                                {
                                    <tr>
                                        <td></td>
                                        <td>@(rowNo1 += 1)</td>


                                        <td>
                                            @Html.DisplayFor(modelItem => item.FirstName)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.LastName)
                                        </td>


                                        <td>
                                            @Html.DisplayFor(modelItem => item.Position)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Salary)
                                        </td>
                                    </tr>

                                }
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>






