@model Artist.Models.Users

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Users</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2" hidden>
            @Html.DisplayNameFor(model => model.UserImage)
        </dt>
        <dd class="col-sm-10">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <img src=@Url.Content("~/Image/" + Model.UserImage) asp-append-version="true" style="border-radius:50%" width="250" height="250" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ConfirmPassword)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ConfirmPassword)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber1)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location.LocationId)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JoinDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JoinDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dep)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dep.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Role.RoleId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreditCard)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreditCard.Code)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UserId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
